<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <title>Exhibits</title>
    </head>
    <div class="topbar">
        <div class="topbar-left">Exhibits</div>
        <div class="topbar-right">
            <a href="{{ url_for('index') }}">Back to Main Page</a>
        </div>
    </div>
    <div class="wrap">

        <div class="hero">
            <div class="hero-title">Exhibit Overview</div>
            <div class="hero-text">Current exhibits at the sanctuary</div>
        </div>

        <div class="data-table-wrap">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th class="numeric">Max Capacity</th>
                    </tr>
                </thead>

                <tbody>
                    {% for exhibit in exhibits %}
                    <tr class="clickable-row"
                        onclick="window.location='{{ url_for('exhibit_detail', exhibit_id=exhibit.exhibit_id) }}';">
                        <td>{{ exhibit.name }}</td>
                        <td>{{ exhibit.type }}</td>
                        <td class="numeric">{{ exhibit.capacity }}</td>
                    </tr>
                    {% else %}
                    <tr><td colspan="3">No exhibits on record.</td></tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</html>
