<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <title>Not Found</title>
    </head>
    <div class="topbar">
        <div class="topbar-left">Not Found</div>
        <div class="topbar-right">
            <a href="{{ url_for('index') }}">Back to Main Page</a>
        </div>
    </div>
    <div class="wrap">
        <div class="hero">
            <div class="hero-title">{{ thing }} not on record</div>
            <div class="hero-text">We couldn't find the record you were looking for.</div>
        </div>
    </div>
</html>
